<div class="row section">
  <div class="col s12">
    <a (click)="pagSite()" class="btn btn-flat btn-waves"><i class="material-icons left">arrow_back</i>Voltar para o Site</a>
  </div>
</div>
<div class="row container">
  <form [formGroup]="formulario" class="card z-depth-5 form-horizontal" (submit)="enviar()" >
      <div class="card-content">
          <span class="card-title center teal lighten-2 white-text">Informações</span>
          <div class="row form-group" style="margin-bottom: 0px;">

            <div class="col s12 m6 l6 xl6">
              <label-error [mostrarErro]="verificaValidTouched('nome')" mensagemErro="Nome é Obrigatório" ></label-error>

              <div class="input-field ">                
                  <i class="material-icons prefix">person</i>
                  <input type="text" class="form-control" formControlName="nome" id="nome">
                  <label for="nome" >Nome</label>
              </div>
            </div>
             
            <div class="col s12 m6 l6 xl6">
 
                <label-error [mostrarErro]="verificaValidTouched('telefone')" mensagemErro="Telefone é Obrigatório" ></label-error>

                <div class="input-field ">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone" type="text" class="form-control" formControlName="telefone">
                    <label for="phone">Telefone</label>
                </div>
            </div>


            <div class="col s12">
                <label-error [mostrarErro]="verificaEmailInvalido()" mensagemErro="Email inválido" ></label-error>

                <div class="input-field ">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="form-control" formControlName="email">
                    <label for="email">Email</label>
                </div>
            </div>        
          </div>

          <div class="row form-group" style="margin-bottom: 0px;">
              <div class="col s12">
 
                  <label-error [mostrarErro]="verificaValidTouched('texto')" mensagemErro="Mensagem é Obrigatória" ></label-error>

                  <div serveiv class="input-field ">
                      <i class="material-icons prefix">textsms</i>
                      <input id="texto" type="text" class="form-control" formControlName="texto">
                      <label for="texto">Mensagem</label>
                  </div>
              </div>
          </div>
        </div>
        <div class="card-action center">
          <button [disabled]="!formulario.valid" type="submit" name="action" class=" btn btn-waves" ><i class="material-icons right">send</i>Enviar Mensagem</button >
        </div>
      </form>
</div>
<!-- Modal LOADING -->
<div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="params" [materializeActions]="loading">
    <div class="modal-content center">
        <h4 style="padding-bottom:1%;">Carregando</h4>
        <div  class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>
  </div>

  <!-- Modal ALERT -->
<div id="alert" class="modal" materialize="modal" [materializeParams]="params" [materializeActions]="alert">
    <div class="modal-content center no-padding">
        <div class="row orange lighten-2 white-text title-alert">
        <h4>{{titulo}}</h4>
    </div>
    <div class="row">
        <p>{{mensagem}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
  </div>
</div>

  <!-- Modal SUCCESS -->
  <div id="success" class="modal" materialize="modal" [materializeParams]="params" [materializeActions]="success">
    <div class="modal-content center no-padding">
      <div class="row green lighten-2 white-text title-alert">
            <h4>{{titulo}}</h4>
        </div>
        <div class="row">
            <p>{{mensagem}}</p>
        </div>
    </div>
    <div class="modal-footer center">
      <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
    </div>
  </div>

  <!-- Modal DANGER -->
<div id="danger" class="modal" materialize="modal" [materializeParams]="params" [materializeActions]="danger">
        <div class="modal-content center no-padding">
        <div class="row red lighten-2 white-text title-alert">
            <h4>{{titulo}}</h4>
        </div>
        <div class="row">
            <p>{{mensagem}}</p>
        </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn red lighten-1" (click)="close('DANGER')">OK</a> 
    </div>
  </div>

  