
<div class="row section">
    <div class="col s12">
      <div class="card grey lighten-4 z-depth-4">
        <div class="card-content grey lighten-4">
          <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params" [materializeActions]="lstPassageirosCollapsible">
            <li>
              <div class="collapsible-header row" style="margin-bottom: 0px;">
                <div class="col s10  grey-text text-darken-4">
                  <h6>Maria Cândida</h6>
                </div>
                <div class="col s2 btn btn-flat waves-effect center" href="#modalDoc" (click)="openModalDocumento() ">
                    <i class="material-icons">add</i>
                </div>
              </div>
                <div class="collapsible-body" style="display: none;">
                <ul>
                    <li class="card">
                        <div class="card-content">
                          <div class="row center">
                              <div class="col s12 m8 l8">
                                  <h6>Contrato -18</h6>
                              </div>
                              <div class="col s6 m2 l2 btn btn-flat waves-effect" (click)="openModalDocumento() ">
                                  <i class="material-icons">edit</i>
                              </div>
                              <div class="col s6 m2 l2btn btn-flat waves-effect">
                                  <i class="material-icons">delete</i>
                              </div>  
                          </div>
                          <div class="row center grey lighten-4">
                            <div class="col s12 m6 l6">
                              <h6>Validade do Contrato: 2019</h6>
                            </div>
                            <div class="col s12 m6 l6 center">
                                    <input type="checkbox" id="x"  [checked]="true" />
                                    <label for="x">Assinado</label>
                            </div>
                          </div>
                        </div>
                    </li>
                </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header row" style="margin-bottom: 0px;">
                  <div class="col s10  grey-text text-darken-4">
                    <h6>José pega no meu pé</h6>
                  </div>
                  <div class="col s2 btn btn-flat waves-effect center" href="#modalDoc" (click)="openModalDocumento() ">
                      <i class="material-icons">add</i>
                  </div>
                </div>
                  <div class="collapsible-body" style="display: none;">
                  <ul>
                      <li class="center-aligns">
                          <label>Nenhum Documento Vinculado</label>
                      </li>
                  </ul>
                  </div>
              </li>
        </ul>
        </div>
      </div>
    </div>   
 </div>
 <div id="modalDoc" class="modal bottom-sheet" materialize="modal" [materializeParams]="modelDocumentoParams" [materializeActions]="modalDocumento">
    <div class="modal-content">
      <div class="center">
          <h4>Documento</h4>
      </div>
      <div class="row">
          <div class="input-field col s12 m7 l7">
              <input type="text" name="autoComplete" materialize="autocomplete" [materializeParams]="[autocompleteInit]" >
              <label for="autoComplete">Procure o Documento</label>
            </div>
         <div class="input-field col s12 m3 l3">
            <i class="material-icons prefix">date_range</i>
            <input id="dtVenc"
            materialize="pickadate"
            [materializeActions]="dataVencimentoAction"
            [materializeParams]="dataVencimentoParams"
            type="text" />
            <label for="dtVenc">Data Vencimento</label>
        </div>    
            <a class="col s12 m2 l2 btn btn-flat waves-effect grey-text text-darken-4" (click)="closeModalDocumento()">Salvar</a>   
        </div>
    </div>
</div>