<div class="row section">

      <div class="col s12 ">
        <div class="card grey lighten-4 z-depth-4">
          <div class="card-content grey lighten-4">
                <ul class="collection" >
                        <li *ngFor="let item of listaPassageiros | async" class="row collection-item valign-wrapper">
                          <div class="col s8 m10 l10">
                              <div>
                                <h6>{{item.nome}}</h6>
                              </div>
                          </div>
                          <a class="col s2 m1 l1 btn btn-flat waves-effect tooltipped" materialize="tooltip" data-position="top" data-delay="20" data-tooltip="Ver Contratos" (click)="visualizar(item.$key)">
                              <i class="material-icons">send</i>
                          </a>           
                        </li>               
                </ul>
                <div *ngIf="(listaPassageiros | async)?.length == 0" class="center-align">
                        <label>Nenhum registro encontrado.</label>
                </div>
          </div>
        </div>
      </div>
    </div>
    

  <!-- Modal LOADING -->
  <div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="msgParams" [materializeActions]="loading">
        <div class="modal-content center">
          <h4 style="padding-bottom:1%;">Carregando</h4>
          <div  class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
        
              <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
        
              <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
        
              <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </div>
        </div>
        
        <!-- Modal ALERT -->
        <div id="alert" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="alert">
        <div class="modal-content center no-padding">
          <div class="row orange lighten-2 white-text title-alert">
          <h4>{{msgTitulo}}</h4>
        </div>
        <div class="row">
          <p>{{msgCorpo}}</p>
        </div>
        </div>
        <div class="modal-footer">
        <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
        </div>
        </div>
        
        <!-- Modal SUCCESS -->
        <div id="success" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="success">
        <div class="modal-content center no-padding">
        <div class="row green lighten-2 white-text title-alert">
              <h4>{{msgTitulo}}</h4>
          </div>
          <div class="row">
              <p>{{msgCorpo}}</p>
          </div>
        </div>
        <div class="modal-footer center">
        <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
        </div>
        </div>
        
        