<div class="row section">
  <div class="col s12">
    <a (click)="gridMensalidade()" class="btn btn-flat btn-waves"><i class="material-icons left">arrow_back</i>Voltar</a>
  </div>
</div>
<div class="row"> 
  <div class="col s12 m12 l3 container">
      <div class="card grey lighten-4">
        <div class="card-content grey lighten-4 center-align">
          <a class="waves-effect waves-light btn btn-flat" (click)="novo()"><i class="material-icons left">add</i>Adicionar</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l9">
        <blockquote>
            Clique na linha dos registros para ver mais informações.
          </blockquote>
      <div class="card grey lighten-4 z-depth-4">
        <div class="card-content grey lighten-4">
                  <ul *ngIf="(listaMensalidades)?.length > 0" materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params" [materializeActions]="mensalidadeCollapsible">
                      <li *ngFor="let item of listaMensalidades">
                          <div class="collapsible-header row" style="margin-bottom: 0px;">
                                <div class="col s7 m7 l7 grey-text text-darken-4">
                                  <h6>{{item.titulo}}</h6>
                                </div>  
                                <div class="col s3 m4 l4 grey-text text-darken-4">
                                    <h6>Vencimento: {{item.dataVencimento}}</h6>
                                  </div>  
                                <a  (click)="show('DANGER', item.$key)" class="col s3 m1 l1 btn btn-flat waves-effect">
                                    <i class="material-icons">delete</i>
                                </a>                       
                          </div> 
                          <div class="collapsible-body" style="display: none;">
                            <div class="row">
                              <div class="col s12 left">
                                <label>Dia máximo para o pagamento de cada mês: {{item.diaMaxPagamento}}</label>
                              </div>
                            </div>
                            <div class="row card">
                                <div class="card-content col s12">
                                    <span class="card-title"><strong>Meses pagos</strong></span>
                                    <div class="row grey lighten-4" style="margin-bottom: 0px;">
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=1+{{item.$key}} [(ngModel)]="item.janeiro" (change)="alterar(item.$key, item)"/>
                                        <label for=1+{{item.$key}}>Janeiro</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=2+{{item.$key}} [(ngModel)]="item.fevereiro" (change)="alterar(item.$key, item)"/>
                                        <label for=2+{{item.$key}}>Fevereiro</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=3+{{item.$key}} [(ngModel)]="item.marco" (change)="alterar(item.$key, item)"/>
                                        <label for=3+{{item.$key}}>Março</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=4+{{item.$key}} [(ngModel)]="item.abril" (change)="alterar(item.$key, item)"/>
                                        <label for=4+{{item.$key}} >Abril</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=5+{{item.$key}} [(ngModel)]="item.maio" (change)="alterar(item.$key, item)"/>
                                        <label for=5+{{item.$key}} >Maio</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=6+{{item.$key}} [(ngModel)]="item.junho" (change)="alterar(item.$key, item)"/>
                                        <label for=6+{{item.$key}} >Junho</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=7+{{item.$key}} [(ngModel)]="item.julho" (change)="alterar(item.$key, item)"/>
                                        <label for=7+{{item.$key}} >Julho</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=8+{{item.$key}} [(ngModel)]="item.agosto" (change)="alterar(item.$key, item)"/>
                                        <label for=8+{{item.$key}} >Agosto</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=9+{{item.$key}} [(ngModel)]="item.setembro" (change)="alterar(item.$key, item)"/>
                                        <label for=9+{{item.$key}} >Setembro</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=10+{{item.$key}} [(ngModel)]="item.outubro" (change)="alterar(item.$key, item)"/>
                                       <label for=10+{{item.$key}} >Outubro</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=11+{{item.$key}} [(ngModel)]="item.novembro" (change)="alterar(item.$key, item)"/>
                                        <label for=11+{{item.$key}} >Novembro</label>
                                      </p>
                                      <p class="col s12 m3 l2">
                                        <input type="checkbox" id=12+{{item.$key}} [(ngModel)]="item.dezembro" (change)="alterar(item.$key, item)"/>
                                        <label for=12+{{item.$key}} >Dezembro</label>
                                      </p>
                                    </div>
                                </div>
                              </div>
                              <div class="row card">
                                <div class="card-content">
                                    <span class="card-title"><strong>Dados do Contrato</strong></span>
                                    <p class="flow-text">{{item.dados}}</p>
                                </div>
                              </div>
                          </div>  
                      </li>               
                  </ul>
                  <div *ngIf="(listaMensalidades)?.length == 0" class="center-align">
                      <label>Nenhum registro encontrado.</label>
                  </div>
        </div>
      </div>
    </div>
</div>
      
  
    <!-- Modal LOADING -->
    <div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="msgParams" [materializeActions]="loading">
          <div class="modal-content center">
            <h4 style="padding-bottom:1%;">Carregando</h4>
            <div  class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
          
                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
          
                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
          
                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
          </div>
          </div>
          
          <!-- Modal ALERT -->
          <div id="alert" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="alert">
          <div class="modal-content center no-padding">
            <div class="row orange lighten-2 white-text title-alert">
            <h4>{{msgTitulo}}</h4>
          </div>
          <div class="row">
            <p>{{msgCorpo}}</p>
          </div>
          </div>
          <div class="modal-footer">
          <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
          </div>
          </div>
          
          <!-- Modal SUCCESS -->
          <div id="success" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="success">
          <div class="modal-content center no-padding">
          <div class="row green lighten-2 white-text title-alert">
                <h4>{{msgTitulo}}</h4>
            </div>
            <div class="row">
                <p>{{msgCorpo}}</p>
            </div>
          </div>
          <div class="modal-footer center">
          <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
          </div>
          </div>
          
          <!-- Modal DANGER -->
          <div id="danger" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="danger">
          <div class="modal-content center no-padding">
          <div class="row red lighten-2 white-text title-alert">
            <h4>Exclusão</h4>
          </div>
          <div class="row">
            <p>Deseja excluir esse registro?</p>
          </div>
          </div>
          <div class="modal-footer">
          <a class="waves-effect waves-green btn btn-flat" (click)="excluir(keyExcluir)">Sim</a> 
          <a class="waves-effect waves-green btn red lighten-1" (click)="close('DANGER')">Não</a>
          </div>
          </div>
          