<div class="row section">
    <div class="col s12">
      <a (click)="gridRotaVincPass()" class="btn btn-flat btn-waves"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>
  </div>

  <form #form="ngForm">
  <div class="row container">
    <div class="card z-depth-5">
        <div class="card-content">
            <span class="card-title">Dados do Passageiro</span>
            <div class="row">
              <div class="input-field col s12">
                  <select name="pass" materialize="material_select"  [materializeSelectOptions]="listaPassageiros" [(ngModel)]="passageiro" required #doc="ngModel">
                      <option value="" disabled selected>Selecione um Passageiro</option>
                      <option *ngFor="let option of listaPassageiros" [ngValue]="option">Nome: {{option.nome}} ----- CPF: {{option.cpf}}</option>
                  </select>
              </div>             
            </div>
            <div class="row">                          
                <p class="range-field col s12">
                    <label for="ordem">Ordem do passageiro para a Rota</label>
                    <input name="ordem" type="range" [(ngModel)]="rotaPassageiro.ordem" id="ordem" min="1" max="100" />   
                </p>                
            </div>
          </div>
        </div>
    </div>
    <div class="row container">
        <div class="card z-depth-5">
            <div class="card-content">
                <span class="card-title">Dias da semana de uso da Rota para o Passageiro</span>
                <div class="row">
                    <p class="col s12 m4 l4 ">
                        <input type="checkbox" id=1 name="1" [(ngModel)]="rotaPassageiro.segunda" />
                        <label for=1>Segunda-Feira</label>
                      </p>
                      <p class="col s12 m4 l4 ">
                        <input type="checkbox" id=2  name="2" [(ngModel)]="rotaPassageiro.terca" />
                        <label for=2>Terça-Feira</label>
                      </p>
                      <p class="col s12 m4 l4 ">
                        <input type="checkbox" id=3 name="3" [(ngModel)]="rotaPassageiro.quarta" />
                        <label for=3>Quarta-Feira</label>
                      </p>
                      <p class="col s12 m4 l4 ">
                        <input type="checkbox" id=4 name="4" [(ngModel)]="rotaPassageiro.quinta" />
                        <label for=4 >Quinta-Feira</label>
                      </p>
                      <p class="col s12 m4 l4 ">
                        <input type="checkbox" id=5 name="5" [(ngModel)]="rotaPassageiro.sexta" />
                        <label for=5 >Sexta-Feira</label>
                      </p>
                      <p class="col s12 m4 l4 ">
                        <input type="checkbox" id=6 name="6"  [(ngModel)]="rotaPassageiro.sabado" />
                        <label for=6 >Sábado</label>
                      </p>
                      <p class="col s12 m4 l4 ">
                        <input type="checkbox" id=7 name="7" [(ngModel)]="rotaPassageiro.domingo" />
                        <label for=7 >Domingo</label>
                      </p>               
                </div>
              </div>
            </div>
        </div>
    <div class="row container">
        <button [disabled]="!form.form.valid" (click)="salvar()"class="col s12 m6 btn btn-waves green">Salvar</button>
        <a (click)="gridRotaVincPass()" class="col s12 m6 btn btn-waves red">Cancelar</a>
      </div>
    </form>

<!-- Modal LOADING -->
<div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="msgParams" [materializeActions]="loading">
    <div class="modal-content center">
        <h4 style="padding-bottom:1%;">Carregando</h4>
        <div  class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>
  </div>
  
  <!-- Modal ALERT -->
  <div id="alert" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="alert">
    <div class="modal-content center no-padding">
        <div class="row orange lighten-2 white-text title-alert">
        <h4>{{msgTitulo}}</h4>
    </div>
    <div class="row">
        <p>{{msgCorpo}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
  </div>
  </div>
  
  <!-- Modal SUCCESS -->
  <div id="success" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="success">
    <div class="modal-content center no-padding">
      <div class="row green lighten-2 white-text title-alert">
            <h4>{{msgTitulo}}</h4>
        </div>
        <div class="row">
            <p>{{msgCorpo}}</p>
        </div>
    </div>
    <div class="modal-footer center">
      <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
    </div>
  </div>
  
   <!-- Modal DANGER -->
   <div id="danger" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="danger">
    <div class="modal-content center no-padding">
    <div class="row red lighten-2 white-text title-alert">
        <h4>{{msgTitulo}}</h4>
    </div>
    <div class="row">
        <p>{{msgCorpo}}</p>
    </div>
  </div>
  <div class="modal-footer">
  <a class="waves-effect waves-green btn btn-flat" (click)="close('DANGER')">Sim</a> 
  <a class="waves-effect waves-green btn red lighten-1" (click)="close('DANGER')">Não</a>
  </div>
  </div>
  