<div class="row container">
  <div class="col s12 center">
    <h4>Bem-Vindo(a) ao</h4>
    <h4 class="teal-text">VANNZ</h4>
  </div>  
</div>
<div class="row">
  <div class="divider"></div>
</div>


    <div  *ngFor="let item of lstVersoes | async" class="row container">
        <div class="col s12 m2 center">
            <p><i class="material-icons left">today</i>{{item.data}}</p>
        </div>
        <div class="col s12 m10">
            <span>Versão: {{item.versao}}</span>
            <div class="card">
                <div [ngClass]="{'atencao': item.status == 1, 'padrao': item.status == 0}" class=" card-content">                   
                <p>{{item.descricao}}</p>
                </div>
            </div>
        </div>
    </div>


