<div class="row container">
  <div class="col s12 center">
    <h4>Bem-Vindo(a) a Fantástica ferramenta</h4>
    <h4 class="teal-text">VANNZ</h4>
  </div>  
</div>
<div class="row">
  <div class="divider"></div>
</div>
<div class="row">
  <div class="container section teal">
      <ul class="collection with-header">
          <li class="collection-header center grey lighten-4"><h4>Informações da Plataforma</h4></li>
          <li class="collection-item grey lighten-4">Versão: 0.01(BETA TESTE)</li>
          <li class="collection-item grey lighten-4">Notas da Versão: 
              <ul class="collection">               
                  <li class="collection-item">
                      Plataforma no estado atual disponibiliza apenas uma demonstração visual, porém com login, logout, alteração na configuração do usuário e dados da empresa funcionais.
                  </li>
                </ul>
          </li>
        </ul>
  </div>
</div>