<div class="row">  
    <div class="col s12 m3 l3">
            <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params" [materializeActions]="vinculoCollapsible">
                    <li><a class="collapsible-header waves-effect waves-teal grey-text text-darken-4"><i class="material-icons">link</i>Vincular Conta</a>
                        <div class="collapsible-body center-align" style="display: none;">
                        <div class="row">
                            <a class="col s12" (click)="vincularConta(1)" class=" btn btn-flat">Gmail</a>
                            <a class="col s12" (click)="vincularConta(0)" class=" btn btn-flat">Facebook</a>
                        </div>
                        </div>
                    </li>
                </ul>
    </div>
    <div class="col s12 m9 l9">
        <form #form="ngForm" class="card z-depth-5">
            <div class="card-content form-group">          
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                                <i class="material-icons prefix">person</i>
                                <input name="nome" placeholder="Nome" [(ngModel)]="usuario.nome" id="icon_nome" type="text" class="validate" required #nome="ngModel">
                                <label for="icon_nome">Nome</label>
                        </div>                   
                    </div>

                    <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">email</i>
                                <input name="email" disabled placeholder="Email" [(ngModel)]="usuario.email" id="email" type="email" class="validate" required #email="ngModel">
                                <label for="email">Email/Login</label>
                            </div>
                    </div> 

                    <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">photo_camera</i>
                                <input name="imagemUsuario" placeholder="URL de uma imagem" [(ngModel)]="usuario.imagemUsuario" id="imagemUsuario" type="text" class="validate" required #urlImg="ngModel">
                                <label for="imagemUsuario">URL de uma imagem para perfil</label>
                            </div>
                    </div>     
                </div>          
                <div class="row">
                    <div class="">
                        <button [disabled]="!form.form.valid" (click)="salvar()" class="col s12 m6 l6 waves-effect waves-light btn green">Salvar Alterações</button>
                    </div>
                    <div class="">
                        <a (click)="show('DANGER')" class="col s12 m6 l6 waves-effect waves-light btn red">Deletar Usuário</a>
                    </div>  
                </div>                     
            </div>    
        </form>
    </div>
</div>

<!-- Modal LOADING -->
<div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="msgParams" [materializeActions]="loading">
        <div class="modal-content center">
            <h4 style="padding-bottom:1%;">Carregando</h4>
            <div  class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
          
                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
          
                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
          
                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    
      <!-- Modal ALERT -->
    <div id="alert" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="alert">
        <div class="modal-content center no-padding">
            <div class="row orange lighten-2 white-text title-alert">
            <h4>{{msgTitulo}}</h4>
        </div>
        <div class="row">
            <p>{{msgCorpo}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
      </div>
    </div>
    
      <!-- Modal SUCCESS -->
      <div id="success" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="success">
        <div class="modal-content center no-padding">
          <div class="row green lighten-2 white-text title-alert">
                <h4>{{msgTitulo}}</h4>
            </div>
            <div class="row">
                <p>{{msgCorpo}}</p>
            </div>
        </div>
        <div class="modal-footer center">
          <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
        </div>
      </div>
    
      <!-- Modal DANGER -->
    <div id="danger" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="danger">
            <div class="modal-content center no-padding">
            <div class="row red lighten-2 white-text title-alert">
                <h4>Exclusão de Usuário</h4>
            </div>
            <div class="row">
                <p>Confirmando o usuário será excluido junto com todos os seus dados, deseja continuar?</p>
            </div>
        </div>
        <div class="modal-footer">
          <a class="waves-effect waves-green btn btn-flat" (click)="deletarUsuario()">Sim</a> 
          <a class="waves-effect waves-green btn red lighten-1" (click)="close('DANGER')">Não</a>
        </div>
      </div>
    