
<div class="row section">
    <div class="col s12">
      <div class="card grey lighten-4 z-depth-4">
        <div class="card-content grey lighten-4">
          <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params" [materializeActions]="lstPassageirosCollapsible">
            <li>
              <div class="collapsible-header row" style="margin-bottom: 0px;">
                  <div class="col s2">
                      <i class="material-icons">forward</i>
                  </div>
                <div class="col s8">
                    <h6>Para: Materdei</h6>
                </div>
                <div class="col s2 btn btn-flat waves-effect center" href="#modalDoc" (click)="cadRotaPassageiro() ">
                    <i class="material-icons">add</i>
                </div>
              </div>
                <div class="collapsible-body" style="display: none;">
                <ul>
                    <li class="card">
                        <div class="card-content">
                          <div class="row" style="margin-bottom: 0px;">
                              <div class="col s12 m12 l10 center">
                                  <h6>José Josino</h6>
                              </div>
                              <div class="col s12 m6 l1 btn btn-flat waves-effect" (click)="cadRotaPassageiro()">
                                  <i class="material-icons">edit</i>
                              </div>
                              <div class="col s12 m6 l1 btn btn-flat waves-effect">
                                  <i class="material-icons">delete</i>
                              </div>  
                          </div>
                          <div class="row" style="margin-bottom: 0px;">
                            <div class="col s12 m4 l2 center">
                                <span>Ordem na Fila</span>
                            </div>
                            <div class="col s12 m8 l10">
                                <p class="range-field">
                                  <input type="range" id="test5" min="1" max="10" />
                                </p>
                              </div>
                          </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="card-content">
                          <div class="row" style="margin-bottom: 0px;">
                              <div class="col s12 m12 l10 center">
                                  <h6>Maria Gadu</h6>
                              </div>
                              <div class="col s12 m6 l1 btn btn-flat waves-effect" (click)="cadRotaPassageiro()">
                                  <i class="material-icons">edit</i>
                              </div>
                              <div class="col s12 m6 l1 btn btn-flat waves-effect">
                                  <i class="material-icons">delete</i>
                              </div>  
                          </div>
                          <div class="row" style="margin-bottom: 0px;">
                              <div class="col s12 m4 l2 center">
                                  <span>Ordem na Fila</span>
                              </div>
                              <div class="col s12 m8 l10">
                                  <p class="range-field">
                                    <input type="range" id="test5" min="1" max="10" />
                                  </p>
                                </div>
                          </div>
                        </div>
                    </li>
                </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header row" style="margin-bottom: 0px;">
                  <div class="col s2">
                        <i class="material-icons">reply_all</i>
                    </div>
                  <div class="col s8">
                      <h6>De: Materdei</h6>
                  </div>
                  <div class="col s2 btn btn-flat waves-effect center" href="#modalDoc" (click)="cadRotaPassageiro()">
                      <i class="material-icons">add</i>
                  </div>
                </div>
                  <div class="collapsible-body" style="display: none;">
                  <ul>
                      <li class="center-aligns">
                          <label>Nenhum Passageiro vinculado</label>
                      </li>
                  </ul>
                  </div>
              </li>
        </ul>
        </div>
      </div>
    </div>   
  </div>