<div class="row section">
    <div class="col s12">
      <a (click)="gridRotas()" class="btn btn-flat btn-waves"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>
  </div>
  <form #form="ngForm">
  <div class="row container">
    <div class="card z-depth-5">
        <div class="card-content">
            <span class="card-title">Dados da Rota</span>
            <div class="row">
                <div class="input-field col s12">
                    <input name="descricao" [(ngModel)]="rota.descricao" placeholder="" id="descricao" type="text" class="validate" required #descricao="ngModel">
                    <label for="descricao">Descrição</label>
                  </div>              
            </div>
            <div class="row">           
                  <div class="input-field col s12 m6 l6 xl6">
                    <i class="material-icons prefix">watch_later</i>
                    <input
                    materialize="pickatime" 
                    [materializeActions]="horarioInicio"
                    [materializeParams]="timePickerParams"
                    name="horaInicio" [(ngModel)]="rota.horaInicio" placeholder="" id="horaInicio" type="text" class="validate" required #horaInicio="ngModel">
                    <label for="horaInicio">Horário de Inicio</label>
                  </div>
                  <div class="input-field col s12 m6 l6 xl6">
                      <i class="material-icons prefix">watch_later</i>
                      <input
                      materialize="pickatime" 
                      [materializeActions]="horarioTermino"
                      [materializeParams]="timePickerParams"
                      name="horaTermino" [(ngModel)]="rota.horaTermino" placeholder="" id="horaTermino" type="text" class="validate" required #horaTermino="ngModel">
                      <label for="horaTermino">Horário de Término</label>
                    </div>
            </div>
            
          </div>
    </div>    
  </div>

    <div class="row container">
      <button [disabled]="!form.form.valid" (click)="salvar()"class="col s12 m6 btn btn-waves green">Salvar</button>
      <a (click)="gridRotas()" class="col s12 m6 btn btn-waves red">Cancelar</a>
      </div>
    </form>


<!-- Modal LOADING -->
<div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="msgParams" [materializeActions]="loading">
  <div class="modal-content center">
      <h4 style="padding-bottom:1%;">Carregando</h4>
      <div  class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
  </div>
</div>

<!-- Modal ALERT -->
<div id="alert" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="alert">
  <div class="modal-content center no-padding">
      <div class="row orange lighten-2 white-text title-alert">
      <h4>{{msgTitulo}}</h4>
  </div>
  <div class="row">
      <p>{{msgCorpo}}</p>
  </div>
</div>
<div class="modal-footer">
  <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
</div>
</div>

<!-- Modal SUCCESS -->
<div id="success" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="success">
  <div class="modal-content center no-padding">
    <div class="row green lighten-2 white-text title-alert">
          <h4>{{msgTitulo}}</h4>
      </div>
      <div class="row">
          <p>{{msgCorpo}}</p>
      </div>
  </div>
  <div class="modal-footer center">
    <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
  </div>
</div>

 <!-- Modal DANGER -->
 <div id="danger" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="danger">
  <div class="modal-content center no-padding">
  <div class="row red lighten-2 white-text title-alert">
      <h4>{{msgTitulo}}</h4>
  </div>
  <div class="row">
      <p>{{msgCorpo}}</p>
  </div>
</div>
<div class="modal-footer">
<a class="waves-effect waves-green btn btn-flat" (click)="close('DANGER')">Sim</a> 
<a class="waves-effect waves-green btn red lighten-1" (click)="close('DANGER')">Não</a>
</div>
</div>
