<div class="row section">
  <div class="col s12">
    <a (click)="gridAreaAtuacao()" class="btn btn-flat btn-waves"><i class="material-icons left">arrow_back</i>Voltar</a>
  </div>
</div>
<form #form="ngForm">
  <div class="row container">
    <div class="card z-depth-5">
        <div class="card-content form-group">
            <span class="card-title">Dados da Área de Atuação</span>
            <div class="row">
              <div class="col s12">
                  <div *ngIf="cep.errors && (cep.dirty || cep.touched)">
                      <label [hidden]="!cep.errors.required" class="red-text erro">
                          Informe a cidade, estado e país!
                      </label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">info</i>
                    <input name="cep" [(ngModel)]="areaAtuacao.cep" placeholder="" id="icon_cep" type="text" class="validate" required #cep="ngModel">
                    <label for="icon_cep">Cidade - Estado - País</label>
                </div>
              </div>
              <div class="col s12">
                <div *ngIf="descricao.errors && (descricao.dirty || descricao.touched)">
                    <label [hidden]="!descricao.errors.required" class="red-text erro">
                        Informe uma descrição para identificar essa Área de Atuação!
                    </label>
              </div>
              <div class="input-field">
                  <i class="material-icons prefix">info</i>
                  <input name="descricao" [(ngModel)]="areaAtuacao.descricao" placeholder="" id="icon_descricao" type="text" class="validate" required #descricao="ngModel">
                  <label for="icon_descricao">Descrição</label>
              </div>
            </div>
            </div>
            <div class="row center-align">
              <h4>Período</h4>
              <p class=" col s12 m4">
                <input type="checkbox" id="m" name="matutino"  [(ngModel)]="areaAtuacao.isMatutino" />
                <label for="m">Matutino</label>
              </p>   
              <p class=" col s12 m4">
                <input type="checkbox" id="v" name="vespertino"  [(ngModel)]="areaAtuacao.isVespertino" />
                <label for="v">Vespertino</label>
              </p>  
              <p class=" col s12 m4">
                <input type="checkbox" id="n"  name="noturno"  [(ngModel)]="areaAtuacao.isNoturno" />
                <label for="n">Noturno</label>
              </p> 
            </div>
            <div class="row">
              <div class="col s12">
                <div *ngIf="locais.errors && (locais.dirty || locais.touched)">
                      <label [hidden]="!locais.errors.required" class="red-text erro">
                          Informe a cidade, estado e país!
                      </label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">description</i>
                    <textarea id="textarea1" placeholder="" class="materialize-textarea" name="locais"  [(ngModel)]="areaAtuacao.locais" required #locais="ngModel"></textarea>
                    <label for="textarea1">Locais</label>
                </div>
              </div>   
            </div>    
        </div>
    </div>
  </div>
  <div class="row container">
      <button [disabled]="!form.form.valid" (click)="salvar()"class="col s12 m6 btn btn-waves green">Salvar</button>
      <a (click)="gridAreaAtuacao()" class="col s12 m6 btn btn-waves red">Cancelar</a>
  </div>
</form>

<!-- Modal LOADING -->
<div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="msgParams" [materializeActions]="loading">
  <div class="modal-content center">
      <h4 style="padding-bottom:1%;">Carregando</h4>
      <div  class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
  </div>
</div>

<!-- Modal ALERT -->
<div id="alert" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="alert">
  <div class="modal-content center no-padding">
      <div class="row orange lighten-2 white-text title-alert">
      <h4>{{msgTitulo}}</h4>
  </div>
  <div class="row">
      <p>{{msgCorpo}}</p>
  </div>
</div>
<div class="modal-footer">
  <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
</div>
</div>

<!-- Modal SUCCESS -->
<div id="success" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="success">
  <div class="modal-content center no-padding">
    <div class="row green lighten-2 white-text title-alert">
          <h4>{{msgTitulo}}</h4>
      </div>
      <div class="row">
          <p>{{msgCorpo}}</p>
      </div>
  </div>
  <div class="modal-footer center">
    <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
  </div>
</div>

 <!-- Modal DANGER -->
 <div id="danger" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="danger">
  <div class="modal-content center no-padding">
  <div class="row red lighten-2 white-text title-alert">
      <h4>{{msgTitulo}}</h4>
  </div>
  <div class="row">
      <p>{{msgCorpo}}</p>
  </div>
</div>
<div class="modal-footer">
<a class="waves-effect waves-green btn btn-flat" (click)="close('DANGER')">Sim</a> 
<a class="waves-effect waves-green btn red lighten-1" (click)="close('DANGER')">Não</a>
</div>
</div>
