<div class="row section">
    <div class="col s12 m12 l3 container">
        <div class="card grey lighten-4">
          <div class="card-content grey lighten-4 center-align">
            <a class="waves-effect waves-light btn btn-flat" (click)="novo()"><i class="material-icons left">add</i>Adicionar</a>
          </div>
        </div>
    </div>
  <div class="col s12 m12 l9">
      <blockquote>
          Clique no responsável para expandir a linha e ver os passageiros vínculados.
        </blockquote>
    <div class="card grey lighten-4 z-depth-4">
      <div class="card-content grey lighten-4">
          <ul  materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params" [materializeActions]="responsavelCollapsible">
            <li (click)="carregaListaPassageiros(item.$key)" *ngFor="let item of listaResponsaveis | async">
              <div class="collapsible-header row" style="margin-bottom: 0px;">
                    <div class="col s3 m9 l9 grey-text text-darken-4">
                      <h6>{{item.nome}}</h6>
                    </div>
                   
                    <a (click)="carregaListaPassageirosSemVinc(item.$key)" materialize="tooltip" class="col s3 m1 l1 btn btn-flat waves-effect tooltipped" data-position="top" data-delay="20" data-tooltip="Víncular Passageiro">
                      <i class="material-icons">person_pin</i>
                    </a>   
                    <a class="col s3 m1 l1 btn btn-flat waves-effect" (click)="alterar(item.$key)">
                        <i class="material-icons">edit</i>
                    </a>
                    <a  (click)="show('DANGER', item.$key)" class="col s3 m1 l1 btn btn-flat waves-effect">
                        <i class="material-icons">delete</i>
                    </a>                       
            </div> 
            <div class="collapsible-body" style="display: none;">
              <h5 *ngIf="(listaPassageiros)?.length > 0" class="center">Passageiros</h5>
              <ul *ngFor="let passageiro of listaPassageiros" class="collection with-header">
                <li class="collection-item row">
                  <div class="col s10">
                    <p>{{passageiro.nome}} - CPF: {{passageiro.cpf}}</p>  
                  </div>
                  <div class="col s2">
                      <a (click)="deletarPassageiro(passageiro.$key, item.$key)" class="btn-flat"><i class="material-icons">delete</i></a>
                  </div>
                </li>
              </ul>
              <div *ngIf="(listaPassageiros)?.length == 0" class="center-align">
                <label>Nenhum passageiro vinculado.</label>
              </div>
            </div>  
            </li>               
        </ul>
        <div *ngIf="(listaResponsaveis | async)?.length == 0" class="center-align">
            <label>Nenhum registro encontrado.</label>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modalVincPass" class="modal bottom-sheet" materialize="modal" [materializeParams]="vinculoPassageiroParams" [materializeActions]="vinculoPassageiroAction">
    <div class="modal-content">
        <h4 class="center">Selecione um Passageiro para Víncular</h4>
          <div class="collection">
            <a (click)="adicionarVincPassageiro(passSV.$key, passSV.$keyResponsavel)" *ngFor="let passSV of listaSemVincPassageiros" class="collection-item">{{passSV.nome}} - CPF: {{passSV.cpf}}</a>
          </div>
          <div *ngIf="(listaSemVincPassageiros)?.length == 0" class="center-align">
              <label class="center">Todos os passageiros já estão vínculados com o Responsável.</label>
          </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
      </div>
</div>

   <!-- Modal LOADING -->
   <div id="loading" class="modal" materialize="modal" style="height:180px;" [materializeParams]="msgParams" [materializeActions]="loading">
      <div class="modal-content center">
        <h4 style="padding-bottom:1%;">Carregando</h4>
        <div  class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      </div>
      </div>
      
      <!-- Modal ALERT -->
      <div id="alert" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="alert">
      <div class="modal-content center no-padding">
        <div class="row orange lighten-2 white-text title-alert">
        <h4>{{msgTitulo}}</h4>
      </div>
      <div class="row">
        <p>{{msgCorpo}}</p>
      </div>
      </div>
      <div class="modal-footer">
      <a class="waves-effect waves-green btn orange lighten-1" (click)="close('ALERT')">OK</a> 
      </div>
      </div>
      
      <!-- Modal SUCCESS -->
      <div id="success" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="success">
      <div class="modal-content center no-padding">
      <div class="row green lighten-2 white-text title-alert">
            <h4>{{msgTitulo}}</h4>
        </div>
        <div class="row">
            <p>{{msgCorpo}}</p>
        </div>
      </div>
      <div class="modal-footer center">
      <a class="waves-effect waves-green btn green lighten-1" (click)="close('SUCCESS')">OK</a> 
      </div>
      </div>
      
      <!-- Modal DANGER -->
      <div id="danger" class="modal" materialize="modal" [materializeParams]="msgParams" [materializeActions]="danger">
      <div class="modal-content center no-padding">
      <div class="row red lighten-2 white-text title-alert">
        <h4>Exclusão</h4>
      </div>
      <div class="row">
        <p>Deseja excluir esse registro?</p>
      </div>
      </div>
      <div class="modal-footer">
      <a class="waves-effect waves-green btn btn-flat" (click)="excluir(key)">Sim</a> 
      <a class="waves-effect waves-green btn red lighten-1" (click)="close('DANGER')">Não</a>
      </div>
      </div>
      