/* You can add global styles to this file, and also import other style files */
.erro{
    margin-left: 3%;
}

.no-padding{
    padding: 0px;
}

.title-alert{
    padding: 1%;
}
agm-map{
    height: 500px;
}